@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto+Mono:wght@400;600&display=swap');

$title-color: #333;
$text-color: #555;
$main-bg: #f6f6f6;
$white: #fff;

$ff-text: 'Roboto Mono', monospace;
$fs-text: 1em;

$ff-title: 'Poppins', sans-serif;
$fs-title: 1.125em;

$fw-bold: 600;
$fw-regular: 400;

// Shadow color
$shadow-color: #858585;
$shadow: 0 0.6px 0.8px $shadow-color,
  -0.1px 2.7px 3.7px -0.2px $shadow-color,
  -0.1px 5.7px 7.9px -0.5px $shadow-color,
  -0.3px 12.3px 17.1px -0.7px $shadow-color;
$line-height: 1.6;

@mixin box-shadow {
  box-shadow: $shadow;
}

@mixin reset-list {
  list-style: none;
}

@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin height {
  min-height: 3em;
  height: 3em;
}

@mixin border {
  border-bottom: 1px solid #999;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: $main-bg;

  @include flex();

  color: $text-color;
  font-size: $fs-text;
  font-weight: $fw-regular;
  font-family: $ff-text;
}

h1,
h2,
h3 {
  font-weight: $fw-bold;
  font-family: $ff-title;
  color: $title-color;
}

input:focus {
  outline: none;
}

.button {
  color: $text-color;
  width: 1.75em;
  height: auto;
  cursor: pointer;
}

.app-wrapper {
  @include flex(column, center, stretch);
  @include box-shadow();

  width: 90%;
  max-height: 80%;
  background-color: $white;
  border-radius: 0.25em;
  overflow: hidden;

  .app-header {
    @include height();
    @include border();
    @include flex(row, stretch, center);

    padding: 1em;

    .app-title {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  .add-book {
    @include height();
    @include border();

    position: relative;

    .book-input {
      position: absolute;
      width: 100%;
      height: 100%;

      #book-input {
        width: 100%;
        height: 100%;
        padding: 1em;

        &::placeholder {
          font-style: oblique;
        }
      }
    }

    .submit-book {
      position: absolute;
      right: 1em;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .tasks-list {
    @include reset-list();

    overflow-y: auto;

    .task {
      width: 100%;
      padding: 1em;

      @include height();
      @include border();
      @include flex(row, space-between, center);

      .task-description {
        width: 100%;
        height: inherit;
        padding: 0.25em;

        @include flex(row, flex-start, center);
      }

      .task-mod {
        display: none;
      }

      .del {
        display: none;
      }
    }

    .edit {
      background-color: hsl(60, 90%, 65%);

      .task-description {
        display: none;
      }

      .task-mod {
        width: 100%;
        height: inherit;
        padding: 0.25em;
        font-family: $ff-text;

        @include flex(row, flex-start, center);
      }

      .del {
        display: block;
      }

      .dots {
        display: none;
      }
    }

    .completed {
      .task-description {
        text-decoration: line-through;
      }
    }
  }

  .reset-completed {
    @include height();
    @include flex();

    width: 100%;
    background-color: $main-bg;
    text-decoration: underline;
    transition: all 350ms ease-out;

    &:hover {
      text-decoration: none;
    }
  }
}

@media only screen and (min-width: 600px) {
  .app-wrapper {
    width: 65%;
  }
}

@media only screen and (min-width: 992px) {
  .app-wrapper {
    width: 45%;
  }
}
